{{!< default}}

<main class="gh-main">
    {{#post}}
        <article class="gh-article {{post_class}}">
            <header class="gh-article-header gh-canvas">
                {{#if primary_tag}}
                    <a class="gh-article-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
                {{/if}}

                <h1 class="gh-article-title">{{title}}</h1>

                {{> "post-meta"}}

                {{#if custom_excerpt}}
                    <p class="gh-article-excerpt">{{custom_excerpt}}</p>
                {{/if}}

                {{#if feature_image}}
                    <figure class="gh-article-image">
                        <img
                            srcset="{{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 720w,
                                    {{img_url feature_image size="l"}} 960w,
                                    {{img_url feature_image size="xl"}} 1200w,
                                    {{img_url feature_image size="xxl"}} 2000w"
                            sizes="(max-width: 1200px) 100vw, 1200px"
                            src="{{img_url feature_image size="xl"}}"
                            alt="{{title}}"
                        >
                        {{#if feature_image_caption}}
                            <figcaption>{{feature_image_caption}}</figcaption>
                        {{/if}}
                    </figure>
                {{/if}}
            </header>

            <section class="gh-content gh-canvas">
                {{content}}
            </section>
			</br></br>

			<section class="article-comments gh-canvas">
				<div id="coral_thread"></div>
				<script type="text/javascript">
				  (function() {
					  var d = document, s = d.createElement('script');
					  s.src = 'https://jaycomment.de/assets/js/embed.js';
					  s.async = false;
					  s.defer = true;
					  s.onload = function() {
						  Coral.createStreamEmbed({
							  id: "coral_thread",
							  autoRender: true,
							  rootURL: 'https://jaycomment.de',
							  // Uncomment these lines and replace with the ID of the
							  // story's ID and URL from your CMS to provide the
							  // tightest integration. Refer to our documentation at
							  // https://docs.coralproject.net for all the configuration
							  // options.
							  // storyID: '${storyID}',
							  // storyURL: '${storyURL}',
						  });
					  };
					  (d.head || d.body).appendChild(s);
				  })();
				</script>
			</section>

        </article>
    {{/post}}

    {{> "related-posts"}}
</main>